{% extends "layout.html" %}


{% block title %}
👨‍⚕️Hospital Jugueton: Bodycount 
{% endblock %}

{% block main %}
<h1>Stats Hospital Bodies  </h1>
<br>
<nav class="navbar">
    <div class="navbar-left">
        <a class="navbar-brand" href="/pregame">
            <img src="/static/logo.png" alt="Logo" class="logo-image">
        </a>
    </div>
    <div class="navbar-right">
        <a class="navbar-option" href="/logout">👋Cerrar Sesion</a>
    </div>
</nav>
<table class = "">
    <thead>
        <tr>
            <th>Doctor</th>
            <th>Bodies</th>
        <tr>
    </thead>
    <tbody>
            <tr>
                {%for i in bodies_list%}
                <td>{{i.name.capitalize()}}</td>
                <td>{{i.bodies}}</td>
            </tr>
            {%endfor%}
    </tbody>
</table>
{% endblock %}