{% extends "layout.html" %}

{% block js %}
    <script src="/static/lol.js"></script>


{% endblock %}

{% block title %}
👨‍⚕️Hospital Jugueton: Stats 
{% endblock %}


{% block main %}
<nav class="navbar">
    <div class="navbar-left">
        <a class="navbar-brand" href="/pregame">
            <img src="/static/logo.png" alt="Logo" class="logo-image">
        </a>
    </div>
    <div class="navbar-right">
        <a class="navbar-option" href="/logout">👋Cerrar Sesion</a>
    </div>
</nav>
    <h1> Que categoria quieres ver? 👀</h1>
    <br>
    <a href="/agarres" class="btn">Agarres</a>
    <a href="/bodies" class="btn">Bodycount</a>

{% endblock %}
